
*{
  background-color: #000;
  color: #fff;
}

.App {
  background-color: none;
  height: 100vh;
  justify-content: center;
}

.app-container{
  display: grid;
  justify-content: center;
}

.navbar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  background: none;
  position: sticky;
  top: 30px;
  left: 0;
  z-index: 100;
}

.navbar {
  max-width: 500px;
  min-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: none;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  border: 1px outset #ffffff50;
  border-radius: 40px;
}

.option-container {
  display: flex;
  align-items: center;
  background: none;
}

.option-item {
  font-size: clamp(10px,10vw,50px);
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin: 0 10px;
  cursor: pointer;
  background: none;
  transition: color 0.3s, background-color 0.3s;
}

.light {
  position: fixed; 
  top: -600px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 1000px; 
  height: 100vh; 
  background: radial-gradient(circle, rgba(8, 162, 28, 0.7) 0%, rgba(255, 255, 255, 0) 70%); 
  box-shadow: none; 
  z-index: 0; 
}

.read-me img{
  border-radius: 50%;
  width: 100px;
}

.custom-box {
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
  border: 1px outset #ffffff50;
}


.custom-content {
  text-align: left;
  width: 100%;
}

.custom-content h5 {
  font-size: 1.5em;
  margin: 0;
  color: #fff;
}

.custom-content p {
  font-size: 1em;
  color: #bbb;
  margin-top: 10px;
}

.custom-content .visit-link {
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  transform: translateY(80px);
}

.arrow {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 24px;
  color: #ffffff;
  transform: translateX(100px) rotate(-45deg);
}

.hover-windows {
  position: absolute;
  top: -20%;
  right: -700px;
  display: flex;
  justify-content: end;
  width: 800px;
  height: 250px;
  display: flex;
  z-index: 1; 
  background-color: none;
}

.small-window{
  position: relative;
  width: 400px;
  height: 600px;
  transform: translateX(100px);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.one{
  background-color: #ffffff28;
}

.two{
  left: -350px;
  z-index: 1;
  background-color: #ffffff40;

}

.custom-box:hover{
  .visit-link{
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform: translateY(0);
  }

  .arrow{
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    transform: translateX(0) rotate(-45deg);
  }

  .one{
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    transform: translateX(-20px);
  }

  .two{
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform: translateX(-40px);
  }
}

.custom-box-container{
  display: flex;
  gap: 10px;
}


.career{
  color: #fff;
}

.career-box{
  border: 1px outset #ffffff50;
  border-radius: 50px;
  margin-bottom: 25px;
}

.career-content{
  margin: 20px;
}

.info{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.info-two{
  margin: 20px;
}


/*

.Readme{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.read-me{
  height: 50vh;
  background-color: #000;
  margin: 50px 0 0 0;
}

.read-me p {
  color: #fff;
}

.spotlight{
  height: 50vh;
  color: #fff;
  background-color: #000;
}

.name{
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
}

.desc{
  font-size: 2rem;
  color: #fff;
  font-weight: 200;
}

.projects {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  color: #fff;
  margin: 50px 0 0 0;
}

.projects-container{
  width: 880px;
  display: grid;
  gap: 30px;
}

.projects-box{
  border: 1px outset #fff;
  border-radius: 40px;
  width: 100%;
  height: 200px;
} 

.extra{
  display: flex;
  gap: 20px;
  text-align: center;
  margin: 0 40px;
}

.extra span {
  width: 50px;
  height: 20px;
  border: 1px outset #fff;
  border-radius: 10px;
}

.link{
  display: flex;
  gap: 20px;
  text-align: center;
  margin: 0 40px;
}

.link-container{
  display: flex;
  justify-content: space-between;
}

.projects-box h3{
  background: none;
  margin: 40px 40px 20px;
}

.projects-box p {
  background: none;
  margin: 0 60px 20px;
}

.title-container{
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.line-container {
  display: grid;
  align-items: center; 
  color: #fff;
}

.vertical-line {
  width: 1px; 
  height: 100px; 
  background-color: #fff; 
  margin: 0 10px; 
}

.emoji {
  font-size: 24px; 
  justify-content: center;
  align-items: center;
}

.changelog-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 50px 0 0 0;
}

.changelog{
  margin: 0 0 0 -400px;
}

.stack {
  width: 880px;
  height: auto;
  border: 1px solid #fff; 
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
  margin: 20px auto;
}

.comp {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background: rgba(255, 255, 255, 0.2); 
  margin: 10px 0; 
  padding: 10px;
  border-radius: 10px; 
  transition: background 0.3s; 
}

.comp:hover {
  background: rgba(255, 255, 255, 0.3); 
}

.comp span {
  font-weight: bold; 
  color: #fff; 
}

.comp p {
  color: #ccc; 
}

.stack-container h1, h2 {
  color: #fff; 
}

.stack-container h1 {
  margin-bottom: 10px; 
}

.stack-container h2 {
  margin: 20px 0 10px; 
}

.stack span{
  background: none;
}

.stack p{
  background: none;
}

*/


@media (max-width: 600px) {
  .custom-box-container{
    display: block;
  }

  .light{
    display: none;
  }

  .Readme{
    margin: 70px 0;
  }
}