body{
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background-color: #000;
  color: #fff;
}

body.light-mode{
    background: #fff;
    color: #000;
}

.App {
  background-color: none;
  height: 100vh;
  justify-content: center;
}

.app-container{
  display: grid;
  justify-content: center;
}

.navbar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  background: none;
  position: sticky;
  top: 30px;
  left: 0;
  z-index: 100;
}

.navbar {
  max-width: 500px;
  min-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: none;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  border: 1px outset #ffffff50;
  border-radius: 40px;
}

.option-container {
  display: flex;
  align-items: center;
  background: none;
}

.option-item {
  font-size: 15px;
  font-weight: 400;
  margin: 0 10px;
  cursor: pointer;
  background: none;
  transition: color 0.3s, background-color 0.3s;
}

.light {
  position: fixed; 
  top: -600px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 1000px; 
  height: 100vh; 
  background: radial-gradient(circle, rgba(70, 184, 240, 0.7) 0%, rgba(255, 255, 255, 0) 70%); 
  box-shadow: none; 
  z-index: -1; 
}

.read-me{
  margin: 60px 0;
}

.read-me img{
  border-radius: 50%;
  width: 70px;
}

.read-me span{
  color: rgba(70, 184, 240, 1);
}

.custom-box {
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  border: 1px outset #ffffff50;
  margin-bottom: 20px;
}


.custom-content {
  text-align: left;
  width: 100%;
  z-index: 2;
  padding: 20px 40px;

}

.custom-content h5 {
  font-size: 1.5em;
  margin: 0;
  z-index: 2;
}

.custom-content p {
  font-size: 1em;
  margin-top: 10px;
  z-index: 1000;
}

.custom-content .visit-link {
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  transform: translateY(80px);
}

.arrow {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 24px;
  transform: translateX(100px) rotate(-45deg);
  z-index: 1000;
}

.hover-windows {
  position: absolute;
  top: -20%;
  right: -700px;
  display: flex;
  justify-content: end;
  width: 800px;
  height: 250px;
  display: flex;
  z-index: 1; 
  background-color: none;
}

.small-window{
  position: relative;
  width: 400px;
  height: 600px;
  transform: translateX(100px);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.one{
  background-color: rgba(209, 234, 245, 0.3);
}

.two{
  left: -350px;
  background-color: rgb(192, 230, 249, 0.3);

}

.custom-box:hover{
  .visit-link{
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform: translateY(0);
  }

  .arrow{
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    transform: translateX(0) rotate(-45deg);
  }

  .one{
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    transform: translateX(-20px);
  }

  .two{
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform: translateX(-40px);
  }
}

.custom-box-container{
  display: flex;
  gap: 10px;
}

.career-box{
  border: 1px outset #ffffff50;
  border-radius: 50px;
  margin-bottom: 25px;
  padding-bottom: 10px;

}

.career-content{
  margin: 20px;
}

.info{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.info-two{
  margin: 20px;
  border: 0.5px groove #fff;
  border-radius: 40px;
  padding: 20px;
}

.projects-box{
  border: 1px outset #fff;
  border-radius: 40px;
  height: 200px;
  margin-bottom: 10px;
} 

.extra{
  display: flex;
  gap: 20px;
  text-align: center;
  margin: 0 5%;
}

.extra span {
  width: 50px;
  height: 20px;
  border: 1px outset #fff;
  border-radius: 10px;
}

.link{
  display: flex;
  gap: 5%;
  text-align: center;
  margin: 0 40px;
}

.link-container{
  display: flex;
  justify-content: space-between;
}

.projects-box h3{
  background: none;
  margin: 40px 40px 20px;
}

.projects-box p {
  background: none;
  margin: 0 60px 20px;
}


.title-container{
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.line-container {
  display: grid;
  align-items: center; 
}

.vertical-line {
  width: 1px; 
  height: 100px; 
  margin: 0 10px; 
}

.emoji {
  font-size: 24px; 
  justify-content: center;
  align-items: center;
}

.changelog-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 50px 0 0 0;
}

.theme{
  display: flex;
  align-items: center;
  margin: 0 20px;

  border-radius: 20px;
  transition: transform 0.3s ease; 
}

.theme:hover{
  transform: scale(1.1);
}

.icon{
  font-size: 15px;
  align-items: center;
  margin: 5px;
}

.move-icon {
  justify-content: end;
}

.footer{
  width: 90%;
  min-height: 100px;
  height: auto;
  display: grid;
  margin: 0 auto;
}

.footer-line{
  display: flex;
  height: 0.5px;
  background: #fff;
}

.footer-span {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%; 
  font-size: 10px;
}

.footer-span p {
  margin: 0;
}

.social{
  text-align: center;
}

.social a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 20px;
}

.social a:hover{
  transform: scale(1.1);
  color: rgba(70, 184, 240, 1);
}

@media (max-width: 600px) {
  .read-me,
  .changelog-container,
  .projects-container,
  .stack-container{
    width: 90%;
    box-sizing: border-box;
    margin: 70px auto;
  }

  .custom-box-container{
    display: block;
  }

  .light{
    display: none;
  }


  .career,
  .spotlight{
    margin: 0 25px;
  }
}